.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.backup/*.bak
src/.backup/*.*
src/generated/*.*
src/ThemeDarkModeTraditionalBuilder.h
src/generated/TcmSimpleTest_menu.cpp
src/generated/TcmSimpleTest_menu.h
.pio/build/project.checksum
.pio/libdeps/esp32dev_keyestudio_ks0413/integrity.dat
.backup/PublicTcmSimple-lilygo-t-d-s3 - 2xBut - lin enc3 - xover server onboard.emf_20250530_14105622.bak
.backup/PublicTcmSimple_main.cpp_20250508_14180362.bak
PublicTcmSimple-lilygo-t-d-s3 - 2xBut - lin enc3 - xover server onboard.emf
